
div .img_div{
    max-width: 80px;
    max-height: 80px;
    min-height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contacts_list{
    min-height: 500px;
}